#addon_image {
  background-image: url("../images/loading/gear.svg");
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
}

div#alchemy {
	background-color: black;
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: fixed;
  z-index: 0;

}

#alchemy_circle{
	height: 85%;
	/*max-width: 1000px;*/
	position: relative;
  	left: 50%;
  	transform: translateX(-50%);
  	/*top: 50%;*/
  	margin-top: 0%;
  	animation-name: bottom_opening;
    animation-duration: 5s;
    float: left;
    /*margin-bottom: 50%;*/
}

div#alchemy_circle {
	width: 100%;
	position: fixed;
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
	animation-name: levitation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    /*overflow: hidden;*/
}

@keyframes bottom_opening {
    0%    {filter: saturate(0); height: 1%; margin-top: 10%; transform: rotate(0deg);}
    20%   {filter: saturate(0);}
	/*10%   {background-color: red;}
	30%   {background-color: red;}
	40%   {background-color: red;}
    60%   {background-color: red;}
    70%   {background-color: red;}
    80%   {background-color: red;}
    90%   {background-color: red;}*/
    50%   {height:150%;  transform: rotate(420deg);}
    100%  {filter: saturate(1); height:85%; margin-top:0%; transform: translateX(-50%);}
}

@keyframes levitation {
	0%   {margin-top:0%;}
    60%  {margin-top:5%;}
    100% {margin-top:0%;}
}

/*------------------------------------------------------------------------------*/

/*profile_card*/
.profile_card {
  /*width: 400px;*/
  margin: 50px auto 0px;
  background-color: #fff;
  /*padding: 0 20px 20px;*/
  /*border-radius: 6px;*/
  /*-webkit-border-radius: 6px;*/
  /*-moz-border-radius: 6px;*/
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  /*text-align: center;*/
}

.profile_card__supporting-text {
  padding: 0 20px 20px;
}

.profile_card:active .avatar-flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.profile_card:active .avatar-flip img:first-child {
  opacity: 0;
}
.profile_card:active .avatar-flip img:last-child {
  opacity: 1;
}
.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 13px #f0f0f0;
  -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0;
}
.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}
.avatar-flip img:first-child {
  z-index: 1;
}
.avatar-flip img:last-child {
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  opacity: 0;
}

/*--------------------------------------------------------------*/

.mdl-button-left{
  left: 8px;
}

.mdl-textfield{
  width: 100%;
}

#Pperc{
  /*width: 50%; */
  /*float:right;*/
  /*height: 100%;*/
  word-wrap: break-word;
  line-height: 1;
}

@media (max-width: 470px) {
  .mdl-typography--display-3{
  font-size:10vw;
  }

  .mdl-typography--display-2{
  font-size:8vw;
  }
}