/* Scroll Bar */
/*@media (min-width:500px) {

  ::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
		background: rgba(0, 0, 0, .0);
  }


  ::-webkit-scrollbar-track {
    border-radius: 10px;
      background: rgba(0, 0, 0, .0);
    }


    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: #b5e853;
    }


    ::-webkit-scrollbar-thumb:hover {
      background: rgba(181, 232, 83, 0.7);
    }
  }*/
