@import url('https://fonts.googleapis.com/css?family=Lalezar|Pacifico');

html, body{
	height: 100%;
	margin: 0;
	color: #fff;
	overflow:none;
}

.night{font-family: 'Lalezar', cursive; font-size: 1.8em;}
.day{font-family: 'Pacifico', cursive; font-size: 1.5em;}

*{transition: 1s all;}

input[type=checkbox] + label{
	background-color: #040d1c;
	width: 200px;
	height: 80px;
	border-radius: 50px;
	display: block;
	padding: 10px;
	box-shadow: inset 5px 5px 20px rgba(0,0,0,0.5);
	z-index: 5;
	position: absolute;
	top: 5%;
	left: 5%;
	cursor: pointer;
	cursor: hand;
}

#a{
	width:80px;
	height:80px;
	border-radius:100px;
	background-color: #f0f0f0;
	box-shadow: 0 0 100px rgba(255,255,255,1); 
}

#c1, #c2, #c3{
	background-color: rgba(0,0,0,0.03);
	width: 10px;
	height: 10px;
	border-radius: 100%;
	position: relative;
}

#c1{
	top: 50px;
	left: 20px
}

#c2{
	top: 50px;
	left: 40px
}

#c3{
	top: 10px;
	left: 40px;
	width: 20px;
	height: 20px;
}

input[type=checkbox]{display: none;}

input[type=checkbox] + label ~ section{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #0f1f3a;
	z-index:-1;
}

input[type=checkbox] + label ~ section .star{
	width: 5px;
	height: 5px;
	border-radius: 100%;
	background-color: rgba(255,255,255,0.4);
	position: absolute;
}

#s1{top: 10%; left: 50%; width: 3px; height: 3px;}
#s2{top: 90%; left: 30%; width: 2px; height: 2px;}
#s3{top: 85%; left: 80%; width: 3px; height: 3px;}
#s4{top: 65%; left: 10%;}
#s5{top: 40%; left: 90%;}


input[type=checkbox] + label ~ section .night{
	opacity:1;
	position: absolute;
	top: calc(50% - 120px);
	left: 10%;
}

input[type=checkbox] + label ~ section .day{
	opacity:0;
	position: absolute;
	top: calc(50% + 90px);
	left: calc(100% - 150px);
}


/* ----- CHECKED ----- */
input[type=checkbox]:checked + label{
	background-color: #2a5fba;
}

input[type=checkbox]:checked + label ~ section{
	background-color: #568eef;
}

input[type=checkbox]:checked + label ~ section .star{
	opacity: 0;
}

input[type=checkbox]:checked + label #a{
	background-color: #f4e94e;
	margin-left: calc(100% - 80px);
	box-shadow: 0 0 100px rgba(249, 240, 104,1); 
}

input[type=checkbox]:checked + label #a *{
	opacity: 0;
}

input[type=checkbox]:checked + label ~ section .night{
	opacity:0;
	position: absolute;
	left: 0;
}

input[type=checkbox]:checked + label ~ section .day{
	opacity:1;
	position: absolute;
	left: 60%;
}





/*body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}*/

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4 ;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 -40px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header h1:before {
  content: "./";
  font-size: 24px;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

#Buttons .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style: none;
}

ul li:before {
  content: ">>";
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  color: #b5e853;
  margin-left: -37px;
  margin-right: 21px;
  line-height: 16px;
}

blockquote {
  color: #aaa;
  padding-left: 10px;
  border-left: 1px dotted #666;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 14px;
  color: #b5e853;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  background: linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  background: -o-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  background: -moz-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  background: -ms-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  margin: 5px;
  cursor: pointer;
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
  background: linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
  background: -o-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
  background: -moz-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
  background: -ms-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn:focus {
  outline:none;
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

.btn-cheter01 .icon {
  opacity: 0.6;
  background: url("../images/cheter01.png") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

/* image */

img {
    border: solid #b5e853;
    border-radius: 4px;
    padding: 5px;
}

/* progress bar */

.progress-bar {
    background-color: #1a1a1a;
    height: 25px;
    padding: 5px;
    width: 593px;
    margin: 60px 0;
             
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
             
    -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
    display: inline-block;
    height: 25px;
    width: 0%;
             
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
             
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
 
    background: rgb(170, 197, 119);
    background: linear-gradient(bottom, rgb(170, 197, 119) 39%, rgb(178, 226, 90) 70%, rgb(183, 240, 76) 85%);
    background: -o-linear-gradient(bottom, rgb(170, 197, 119) 39%, rgb(178, 226, 90) 70%, rgb(183, 240, 76) 85%);
    background: -moz-linear-gradient(bottom, rgb(170, 197, 119) 39%, rgb(178, 226, 90) 70%, rgb(183, 240, 76) 85%);
    background: -webkit-linear-gradient(bottom, rgb(170, 197, 119) 39%, rgb(178, 226, 90) 70%, rgb(183, 240, 76) 85%);
    background: -ms-linear-gradient(bottom, rgb(170, 197, 119) 39%, rgb(178, 226, 90) 70%, rgb(183, 240, 76) 85%);
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0.39, rgb(170, 197, 119)), color-stop(0.7, rgb(178, 226, 90)), color-stop(0.85, rgb(183, 240, 76)));
}

.progress-bar span {
    /* ... */
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}
